@import url('https://api.fontshare.com/v2/css?f[]=satoshi@900,700,500,300,400&display=swap');

@import "tailwindcss";

@theme {
  --font-sans: 'Satoshi', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-serif: 'Satoshi', ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  font-family: 'Satoshi', sans-serif;
}